.App {
  text-align: center;
}




.logo {
  width: 420px;
  margin-left: 50px;
  float: left;
  color: white !important;
  font-size: 1.2rem !important;
}

.logo img {
  width: 30px !important;
  margin-right: 10px !important;
}
img#banner {
  width: 300px !important;
}

.ant-dropdown-link {
  margin-right: 20px !important;
  font-size: 1.2rem !important;
}

.ant-layout-header {
  background: #001529 !important;
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  border-bottom: 1px solid #e9e9e9;
  padding: 0;
}

.anticon.anticon-arrow-left {
  color: black !important;
}



.ant-page-header-heading-extra {
  margin-top: 7px !important;
}

.ant-table-row.ant-table-row-level-0 img {
  width: 55px;
}

.player-name {
  font-weight: bolder;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-carousel .slick-slide {
  /*text-align: center;*/
  /*height: 260px;*/
  line-height: 160px;
  /*background: #364d79;*/
  overflow: hidden;
}



