.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.logo {
  width: 420px;
  /*height: 31px;*/
  margin-left: 50px;
  float: left;
  /*background-color: #333 !important;*/
  color: #333 !important;
  font-size: 1.2rem !important;
}

.logo img {
  width: 30px !important;
  margin-right: 10px !important;
}
img#banner {
  width: 300px !important;
}

.ant-dropdown-link {
  margin-right: 20px !important;
  font-size: 1.2rem !important;
}
/*
.ant-page-header {
  background-color: #333 !important;

}*/

.ant-layout-header {
  /*background-color: #333 !important;*/
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}

/*.ant-page-header-heading-title,
.ant-page-header-heading-sub-title {
  color: white !important;
  font-size: 1.2rem !important;
}*/

.anticon.anticon-arrow-left {
  color: black !important;
}

/*.ant-page-header-heading-title img {
  width: 30px !important;
  margin-right: 10px !important;
}*/

.ant-page-header-heading-extra {
  margin-top: 7px !important;
}

.ant-table-row.ant-table-row-level-0 img {
  width: 55px;
}

.player-name {
  font-weight: bolder;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-carousel .slick-slide {
  /*text-align: center;*/
  /*height: 260px;*/
  line-height: 160px;
  /*background: #364d79;*/
  overflow: hidden;
}



