.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ant-page-header {
  background-color: #333 !important;
}

.ant-page-header-heading-title,
.ant-page-header-heading-sub-title {
  color: white !important;
  font-size: 1.2rem !important;
}

.anticon.anticon-arrow-left {
  color: white !important;
}

.ant-page-header-heading-title img {
  width: 30px !important;
  margin-right: 10px !important;
}

.ant-page-header-heading-extra {
  margin-top: 7px !important;
}

.ant-table-row.ant-table-row-level-0 img {
  width: 55px;
}

.player-name {
  font-weight: bolder;
}

.player-card {
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
